body {
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
h1,h2 {
    color: #333333;
    margin-top: 20px;
}
header, footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    margin: auto;
}
nav {
    margin: 20px;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4e4caf;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: orange;
}
section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 800px;
    padding-top: 80px;
}
section h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
tr,td {
    border: 1px solid green;
    padding: 8px;
    text-align: left;
}
img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
fieldset {
    border: 2px solid #4CAF50;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.project-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
@media (max-width: 850px) {
    section {
        width: 95%;
        padding-top: 100px;
    }
}
